<div class="register-container">
  <div class="welcome-side">
    <div class="welcome-box">
      <img ngSrc="../../../../../assets/images/fynd-logo.png" alt="Fynd Logo" class="welcome-logo" height="205" width="274" priority/>
      <h1>Bienvenue sur Fynd</h1>
      <p>Transforme tes idées en événements mémorables ! Connecte-toi et prends le contrôle de chaque activité, en un
        clic.</p>
    </div>
  </div>

  <div class="form-side">
    <div class="register-card">
      <h2 class="title">Mot de passe oublié</h2>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="generateNewPassword()">
        <!-- Email -->
        <div class="input-wrapper">
          <i class="fa fa-envelope icon-left"></i>
          <input type="email" placeholder="Email" formControlName="email">
          <span class="error"
                *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.touched || submitted)">
            Email invalide
          </span>
        </div>

        <button type="submit" [disabled]="forgotPasswordForm.invalid">Envoyer le lien</button>
        <p class="error" *ngIf="message">{{ message }}</p>

      </form>
      <div class="register-links">
        <p>
          Déjà un compte ? <a [routerLink]="['/login']">Se connecter</a>
        </p>
      </div>
    </div>

  </div>
</div>
