<div class="register-container">

  <!-- LEFT: Welcome -->
  <div class="welcome-side">
    <div class="welcome-box">
      <img ngSrc="assets/images/fynd-logo.png" alt="Fynd Logo" class="welcome-logo" height="205" width="274" priority/>
      <h1>Bienvenue sur Fynd</h1>
      <p>Transforme tes idées en événements mémorables ! Connecte-toi et prends le contrôle de chaque activité, en un
        clic.</p>
    </div>
  </div>

  <!-- RIGHT: Form -->
  <div class="form-side">
    <div class="register-card">
      <h2 class="title">Créer un compte</h2>

      <form [formGroup]="registerForm" (ngSubmit)="register()">

        <!-- Prénom -->
        <div class="input-wrapper">
          <i class="fa fa-user icon-left"></i>
          <input placeholder="Prénom" formControlName="firstName">
          <span class="error"
                *ngIf="registerForm.get('firstName')?.invalid && (registerForm.get('firstName')?.touched || submitted)">
            Prénom requis
          </span>
        </div>

        <!-- Nom -->
        <div class="input-wrapper">
          <i class="fa fa-user icon-left"></i>
          <input placeholder="Nom" formControlName="lastName">
          <span class="error"
                *ngIf="registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.touched || submitted)">
            Nom requis
          </span>
        </div>

        <!-- Email -->
        <div class="input-wrapper">
          <i class="fa fa-envelope icon-left"></i>
          <input type="email" placeholder="Email" formControlName="email">
          <span class="error"
                *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || submitted)">
            Email invalide
          </span>
        </div>

        <!-- Phone -->
        <div class="input-wrapper">
          <i class="fa fa-phone icon-left"></i>
          <input type="text" placeholder="Numéro" formControlName="phone" maxlength="8"
                 (keypress)="allowNumbers($event)">
          <span class="error"
                *ngIf="registerForm.get('phone')?.invalid && (registerForm.get('phone')?.touched || submitted)">
            8 chiffres requis
          </span>
        </div>

        <!-- Mot de passe -->
        <div class="input-wrapper password-wrapper">
          <i class="fa fa-lock icon-left"></i>
          <input [type]="showPassword ? 'text' : 'password'" placeholder="Mot de passe" formControlName="password">
          <span class="toggle-password" (click)="showPassword = !showPassword">
            <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </span>
          <span class="error"
                *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || submitted)">
            Mot de passe invalide (min 8 caractères, majuscule, chiffre, symbole)
          </span>
        </div>

        <!-- Confirmer mot de passe -->
        <div class="input-wrapper password-wrapper">
          <i class="fa fa-lock icon-left"></i>
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            placeholder="Confirmer le mot de passe"
            formControlName="confirmPassword">

          <span class="toggle-password" (click)="showConfirmPassword = !showConfirmPassword">
          <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
        </span>

          <!-- Message d'erreur spécifique -->
          <span class="error"
                *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.touched || submitted)">
          Veuillez confirmer votre mot de passe
        </span>
          <span class="error"
                *ngIf="registerForm.hasError('mismatch') && (registerForm.get('confirmPassword')?.touched || submitted)">
          Les mots de passe ne correspondent pas
        </span>
        </div>

        <button type="submit" [disabled]="registerForm.invalid">S’inscrire</button>

      </form>
      <div class="register-links">
        <p>
          <a routerLink="/forgot-password">Mot de passe oublié ?</a>
        </p>
        <p>
          Déjà un compte ? <a [routerLink]="['/login']">Se connecter</a>
        </p>
      </div>
    </div>
  </div>

</div>
